.navbar{
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.categories{
    margin-top: 20px;
    display: flex;
    list-style: none;
    font-size: x-large;
    margin: auto;
}
.categories li{
    padding: 0 20px;
}
.carrito{
    display: flex
}
.navbar a {
  color: black; 
  text-decoration: none;
}
.navbar a:visited {
  color: black;
}